:root {
  --screen-max-width: 1080px;
  --screen-max-height: 1920px;
}

#root {
  width: var(--screen-max-width);
  height: var(--screen-max-height);
  margin: 0 auto;
  text-align: center;
}

.main-layout{
   display: flex;
   position: relative;
  
}